*{
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
}

html,body{
  height:100%;
}

a{
  text-decoration: none;
}

button{
  cursor: pointer
}

/* ANIMATIONS */
@keyframes fadin{
  0%{
      opacity: 0;
  }
  100%{
      opacity: 1;
  }
}

@keyframes fadout{
  0%{
      opacity: 1;
  }
  100%{
      opacity: 0;
  }
}

@keyframes enter{
  0%{
    transform: translateY(20px);
    opacity:0;
  }
  100%{
    opacity:1;
  }
}

@keyframes enter-side{
  0%{
    transform: translateX(-20px);
    opacity:0;
  }
  100%{
    opacity: 1;
  }
}